.add_node-style {
    --width-add_node: 150px;
    --min-width-add_node: 150px;

    --title-height: 25px;

    --item-height: 25px;

    --position-x: 0px;
    --position-y: 0px;
}

.add_node {

    position: absolute;

    width: var(--width-add_node);
    min-width: var(--min-width-add_node);
    

    background-color: var(--color-dark-01);

    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 4px;

    box-sizing: border-box;

    transform: translate(var(--position-x), var(--position-y));

    z-index: 9999
}

.title-add_node {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--title-height);

    border-bottom: 1px solid white;
}

.container-items-add_node {
    padding: calc(var(--title-height) / 4) 0px;

    display: flex;
    flex-direction: column;
    gap: calc(var(--title-height) / 8);
}

.item-add_node {
    height: var(--item-height);
    box-sizing: border-box;

    margin: 0 calc(var(--title-height) / 4);

    border: 1px solid white;
    border-radius: 2px;

    padding: 0 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}