@font-face {
    font-family: "Cozette";
    src: url("../assets/font/CozetteVector.ttf") format("truetype");
}

:root{
    --color-dark-00: #000000;
    --color-dark-01: #0f0f0f;
    --color-dark-02: #161616;
    --color-dark-03: #1e1e1e;
    --color-dark-04: #252525;
    --color-dark-05: #2d2d2d;
    --color-dark-06: #343434;
    --color-dark-07: #3c3c3c;
    --color-dark-08: #434343;
    --color-dark-09: #4b4b4b;
    --color-dark-10: #525252;
    --color-dark-11: #5a5a5a;
    --color-dark-12: #616161;
    --color-dark-13: #696969;
    --color-dark-14: #707070;
    --color-dark-15: #787878;
    --color-dark-16: #8c8c8c;
}


body {
    background: var(--color-dark-01);
    color: white;
    font-family: "Cozette";
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

img {
    -webkit-user-drag: none;
    pointer-events: auto;
}

.window-controls-container{
    width: 138px;
    
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.no-event{
    pointer-events: none;
}

/* Compatible Warning */
#compatible-warning{
    --font-text-size: 16px;
    --font-icon-size: calc(var(--font-text-size) * 2);
    position: absolute;
    background-color: var(--color-dark-02);
    width: 100vw;
    height: 100vh;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#cw-container-info{
    display: flex;
    flex-direction: column;
    font-size: var(--font-text-size); 
    margin-bottom: 10px;

    padding: 20px;
    max-width: 90vw;
    box-sizing: border-box;
    
}


.cw-text-detail {
    margin-top: 5px;
}

#cw-container-info > table {
    border-collapse: collapse;
    border-spacing: 0 5px;
}

#cw-info-expression-icon {
    height: 40px;
    font-size: var(--font-icon-size);
    margin-bottom: 10px;

    display: flex;
    align-items: end;
}

.cw-info-title, .cw-info-colon, .cw-info-check {
    padding: 0;
}

.cw-info-title {
    width: 50%;
    padding-left: 1ch;
}

.cw-info-colon {
    width: 12.5px;
}

.cw-info-check.no {
    color: #ff0000;
}
.cw-info-check.yes {
    color: #00ff00;
}

#cw-info-button-continue {
    font-family: "Cozette";
    background-color: #00000000;
    color: white;
    border: 2px solid white;
    width: fit-content;
    padding: 5px;
    font-size: var(--font-text-size);
}
#cw-info-button-continue:hover {
    background-color: white;
    color: black;
}
#cw-info-button-continue:active {
    background-color: transparent;
    color:white;
}